@inject Radzen.DialogService dialogService
@using Data

<h5>nvoice Details</h5>


    <table>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Customer Name</td>
            <td>@data.CustomerName</td>
  
        </tr>
        <tr>
            <td>Vendor Name</td>
            <td>@data.VendorName</td>
     
        </tr>
        <tr>
            <td>Tax</td>
            <td>@data.Tax</td>

        </tr>
        <tr>
        <td>Total</td>
        <td>@data.InvoiceTotal</td>
        </tr>
   </table>



<table>
    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    @foreach (InvoiceItem item in data.InvoiceItems) {
    <tr>
        <td>Item Description</td>
        <td>@item.ItemDescription</td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>@item.Amount</td>
    </tr>
    }
</table>


@code {

    [Parameter] public InvoiceAnalysisData data { get; set; }

    
    protected override async Task OnInitializedAsync()
    {

        


    }

}
